@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>
    .about-content p {
        color: #000000; /* Siyah renk */
        margin-bottom: 1em; /* Her paragrafın altında 1em boşluk bırak */
    }

    .about-content h3 {
        margin-bottom: 1em; /* Her başlık altında 1em boşluk bırak */
    }
</style>

<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">HAKKIMIZDA</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Home/Index">ANASAYFA</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> HAKKIMIZDA </li>
            </ul>
        </div>
    </div>
</section><br/>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 about-content">
            <div>
                <h3 style="margin-bottom: 0.5em;">HAKKIMIZDA</h3>
            </div><br />
            <h3>Dünya'da Bin Git</h3>
            <p>
                1957 yılında 7 otomobil ile Amerika Birleşik Devletleri’nde Jack Taylor tarafından kurulan BinGit Rent-A-Car®, kurulduğu günden itibaren benimsediği müşteriyi dinleme prensibi ile bugün dünyanın en büyük araç kiralama filosuna sahip firmasıdır. Günümüzde, 80 bin çalışanı ile yaklaşık 100 ülkede yer alan ve toplamda 2.1 milyonu aşan ayrıcalıklı araç filosu ile müşterilerine hizmet vermeye devam etmektedir.
            </p>
            <p>
                Yüksek hizmet standartlarını benimseyen BinGit Holding, 2007 yılında National ve Alamo markalarını bünyesine katarak büyümeye devam etmiştir.
            </p>
            <p>
                BinGit Rent-A-Car® dünyanın en prestijli müşteri memnuniyeti anketi J.D. Power and Associates sonuçlarına göre son 9 yıldır araç kiralama sektörünün lider markası olarak fark yaratmaktadır.
            </p>
            <br />
            <h3>Türkiye'de Bin Git</h3>
            <p>
                1990 yılında kurulan Yes Oto Kiralama ve Turizm Yatırımları A.Ş. 1997 yılından itibaren National Car Rental® Türkiye lisansı ile hizmet vermeye başlamıştır.
            </p>
            <p>
                Türkiye’de ilk günlük araç kiralama markası olan Yes Oto Kiralama ve Turizm Yatırımları A.Ş., ilk kez havayolu şirketleri ile geliştirdiği iş birliği ile online araç kiralama hizmeti vererek sektöre öncülük etmektedir. 2014 yılından itibaren de Enterprise Rent A Car ana lisansını alarak o günden bu yana Enterprise Türkiye olarak hizmetlerini başarı ile devam ettirmektedir.
            </p>
            <p>
                Enterprise Holding bünyesinde bulunan Enterprise Rent-A-Car, Alamo ve National Car Rental markaları, Yes Oto Kiralama ve Turizm Yatırımları A.Ş. tarafından Türkiye’de 35 ilde 106 ofis ile temsil edilmektedir.
            </p>
        </div>
    </div>
</div>
