@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!-- Hakkında kırıntısı -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title">Ekspertiz</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li>
                    <a href="/Home/Index">
                        Ana Sayfa
                    </a>
                </li>
                <li class="active">
                    <span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Ekspertiz
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //Hakkında kırıntısı -->
<!-- İçerik-6 -->
<section class="w3l-content-6">
    <!-- İçerik-6 ana -->
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/LayoutStyle/images/ab1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self pl-lg-4">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">Şirket Hakkında</h6>
                        <h3 class="hny-title">
                            Profesyonel Araç Tamiri ve Ekspertiz Hizmetleri
                        </h3>
                    </div>
                    <p class="mt-3">
                        Firmamız, uzman kadrosu ve geniş deneyimiyle araç tamiri ve ekspertiz hizmetlerinde öncü konumdadır. Her marka ve model araç için kapsamlı tamir ve bakım hizmetleri sunmaktayız. Güvenilir teknisyenlerimiz, en son teknolojiye sahip ekipmanlarla araçlarınızın sorunlarını hızlı ve etkili bir şekilde çözmektedir. Müşteri memnuniyetini ön planda tutarak, araçlarınızın güvenliği ve performansı için en iyi çözümleri sunmaktayız.
                    </p>
                    <a href="/About/Index" class="btn btn-style btn-primary mt-4">Daha Fazla Oku</a>
                </div>
                <div class="col-lg-6 mt-5 about-right-faq align-self order2">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">Biz Kimiz</h6>
                        <h3 class="hny-title">Kalite ve Performans</h3>
                    </div>
                    <p class="mt-3">
                        Müşterilerimize en yüksek kalitede araç bakımı ve onarım hizmetleri sunmak için kalite ve performansı temel ilke olarak benimseyen bir ekibiz. Uzman teknisyenlerimiz, en son teknolojiye sahip ekipmanlarla araçlarınızın tamirini gerçekleştirirken, her adımda kalite standartlarını en üst seviyede tutarlar. Güvenilir ve titiz bir yaklaşımla araçlarınızın performansını artırmak ve güvenliğini sağlamak için çalışıyoruz. Siz de kaliteli ve performans odaklı araç bakımı için bize başvurun!
                    </p>
                    <a href="/About/Index" class="btn btn-style btn-primary mt-4">Daha Fazla Oku</a>
                </div>
                <div class="col-lg-6 mt-5 pl-lg-4">
                    <img src="~/LayoutStyle/images/ab2.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //İçerik-6 -->
<!-- İçerik-4 -->
<section class="w3l-content-4">
    <!-- İçerik-6 bölümü -->
    <div class="content-4-main py-5">
        <div class="container py-lg-4">
            <div class="content-info-in row">
                <div class="content-right col-lg-6">
                    <img src="~/LayoutStyle/images/ab4.jpg" class="img-fluid" alt="">
                </div>
                <div class="content-left col-lg-6 pl-lg-5">
                    <h6 class="sub-title">
                        Güvenilir Özellikler
                    </h6>
                    <h3 class="hny-title">
                        Tüm teknisyenlerimiz en son taşınabilir teknoloji ile donatılmıştır.
                    </h3>
                    <p class="mt-3">
                        Firmamızdaki tüm teknisyenler, en son taşınabilir teknolojiyle donatılmıştır. Bu, araçlarınızın bakımı ve onarımı sürecinde en gelişmiş ekipmanlarla çalıştığımız anlamına gelir. Her zaman teknolojinin öncüsü olmayı hedefleyen firmamız, bu sayede müşterilerimize daha hızlı, daha verimli ve daha etkili hizmet sunmayı amaçlamaktadır. Teknisyenlerimizin bu teknolojiyle donatılmış olması, araçlarınızın en iyi şekilde bakımını sağlamak için güçlü bir temel oluşturur. Size en iyi hizmeti sunabilmek için teknolojik olarak sürekli kendimizi güncelliyoruz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //İçerik-4 -->
